* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .editor {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
  }
  
  .toolbar {
    margin-bottom: 10px;
  }
  
  .toolbar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .editable {
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 10px;
    overflow-y: auto;
    font-size: 16px;
  }
  
  .icon-align-left::before {
    content: '\f036'; /* Unicode for align left icon (FontAwesome) */
    font-family: FontAwesome;
  }
  
  .icon-align-center::before {
    content: '\f037'; /* Unicode for align center icon (FontAwesome) */
    font-family: FontAwesome;
  }
  
  .icon-align-right::before {
    content: '\f038'; /* Unicode for align right icon (FontAwesome) */
    font-family: FontAwesome;
  }
  